src/*.exe
.*.swp
*.*~*
src/chronokingsd
Makefile
build
huntercoin-qt
qrc_*.cpp
src/huntercoind
*.Debug
*.Release
*.mingw
*.bak
*.dll
*.exe
*.mingw
release/4b_build_qt - Shortcut.lnk
src/makefile.mingw
